@include tablet {
    .number {
        margin-top: 164px;
    }

    h2 {
        width: 445px;
        font-size: 40px;
        line-height: 44px;
        margin: 0 auto;
    }
    
    header {
        img {
            margin: 48px 0 64px;
        }
        
        section {
            margin: 0 155px;
    
            h1 {                
                margin-top: 375px;
            }

            ul {
                display: flex;
                justify-content: space-between;
                width: 348px;
                margin: 0 auto;
            }
    
            ul li {
                margin: 0;
            }
    
            &::before {
                height: 303px;
                top: -375px;
                left: -155px;
                background-size: 820px 303px;
    
            }
        }
    }    

    main {
        margin: 0 40px;
    
        .images {
            margin: 95px 0 48px;
            grid-template: 1fr / auto auto auto auto;
            gap: 11px;
        }
    
        section {
            margin: 0 57px;

            h2 {
                margin: 16px auto 32px;
            }
        }
    }

    footer {
        background: url(../assets/tablet/image-footer.jpg) center top no-repeat;
        background-size: cover;
        padding: 92px 98px 72px;   
    
        h2, p {
            color: map-get($colors , -white);
        }
    
        p {
            margin: 32px 0 40px;
            font-size: 18px;
            line-height: 26px;
        }
    }
}

@include desktop {
    .one {
        margin-top: 196px;
    }

    .two {
        margin-top: 156px;
    }

    p {
        font-size: 18px;
    }
    
    header {
        img {
            margin: 80px 0 61px;
        }
        
        section {
            width: 540px;
            margin: 0 auto;
    
            h1 {
                font-size: 64px;
                line-height: 64px;
                margin-top: 47px;
            }
    
            p {
                margin-top: 34px;
            }
    
            &::before {
                width: 394px;
                height: 303px;
                top: -47px;
                left: -482px;
                background: url(../assets/desktop/image-hero-left.png) no-repeat;
                background-size: 100%;
    
            }

            &::after {
                position: absolute;
                content: "";
                width: 394px;
                height: 303px;
                top: 0;
                left: 628px;
                background: url(../assets/desktop/image-hero-right.png) no-repeat;
                background-size: 100%;
    
            }
        }
    }

    main {
        margin: 0 165px;
    
        .images {
            margin: 90px 0 80px;
            gap: 30px;
        }

        p {
            width: 540px;
            margin: 0 auto;
        }
    }

    footer {
        background: url(../assets/desktop/image-footer.jpg) center top no-repeat;
        background-size: cover;
        padding: 116px 165px 104px; 
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2, p {
            width: 350px;
        }

        h2 {
            margin: 0 33px 0 0;
        }
    }
}